<launch>
    <!-- <arg name="han" default="true"/> -->
    <!-- <node if="$(arg han)" pkg="human_feature_detect" type="feature_detect" name="human_feature_detect" output="screen"/> -->
    <!-- <node unless="$(arg han)" pkg="human_feature_detect" type="feature_detect.py" name="feature_detect" output="screen"/> -->
    <node pkg="human_feature_detect" type="feature_detect.py" name="feature_detect" output="screen"/>

    <!-- <param name="MODEL_MEAN_VALUES_0" value="78.4263377603"/> -->
    <!-- <param name="MODEL_MEAN_VALUES_1" value="87.7689143744"/> -->
    <!-- <param name="MODEL_MEAN_VALUES_2" value="114.895847746"/> -->
    <node pkg="human_feature_detect" type="feature_detect_3d" name="human_feature_detect_3d" output="screen" >
        <param name="topic_name" value="/points2"/>
        <param name="target_frame" value="base_footprint"/>
        <param name="face_range" value="0.20"/>
        <param name="clothes_range" value="0.35"/>
    </node>
</launch>